! Copyright (c) 2016-present Arctic Ice Studio <development@arcticicestudio.com>
! Copyright (c) 2016-present Sven Greb <code@svengreb.de>

! Project:    Nord XResources
! Version:    0.1.0
! Repository: https://github.com/arcticicestudio/nord-xresources
! License:    MIT

#define nord0 #2E3440
#define nord1 #3B4252
#define nord2 #434C5E
#define nord3 #4C566A
#define nord4 #D8DEE9
#define nord5 #E5E9F0
#define nord6 #ECEFF4
#define nord7 #8FBCBB
#define nord8 #88C0D0
#define nord9 #81A1C1
#define nord10 #5E81AC
#define nord11 #BF616A
#define nord12 #D08770
#define nord13 #EBCB8B
#define nord14 #A3BE8C
#define nord15 #B48EAD

*.foreground:   nord4
*.background:   nord0
*.cursorColor:  nord4
*fading: 35
*fadeColor: nord3

*.color0: nord1
*.color1: nord11
*.color2: nord14
*.color3: nord13
*.color4: nord9
*.color5: nord15
*.color6: nord8
*.color7: nord5
*.color8: nord3
*.color9: nord11
*.color10: nord14
*.color11: nord13
*.color12: nord9
*.color13: nord15
*.color14: nord7
*.color15: nord6

! Colors
#define white		#D3D3D3
#define black 		#232629
#define gray		#383838
#define red		#B06A58
#define green		#95B47B
#define yellow		#E5C078
#define	blue		#58698C
#define	magenta		#7B5E8D
#define	cyan		#82A1B2
#define cream		#F4E8CE

! Define amount of transparency for window
#define trans 100

URxvt*font: xft:Source Code Pro:size=11:antialias=true:hinting=true,\
				xft:Symbola:size=9, \
				xft:SauceCodePro Nerd Font Mono:regular:size=13

URxvt.internalBorder:30
! URxvt.borderColor:[trans]black
URxvt.scrollBar: false
! URxvt.colorBD: 
! URxvt.colorIT: 
! URxvt.colorUL: 
! URxvt.tintColor: red
URxvt.depth: 32
URxvt.cursorUnderline: 1
! URxvt.letterSpace: -1
URxvt*loginShell: false
! URxvt.background: [trans]black
! URxvt.foreground: white

! Xft settings 
Xft.dpi 160					! Screen DPI (true 147)
Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintnone
Xft.rgba: rgb
Xft.antialiasing: true

